<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185107403252-81kbo9b3qt1lq9cl6l8d69f7c73nidt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185107403252-81kbo9b3qt1lq9cl6l8d69f7c73nidt8</string>
	<key>API_KEY</key>
	<string>AIzaSyBUvofLpao7nsvGA3Ze5P4GWNByo5GKOk8</string>
	<key>GCM_SENDER_ID</key>
	<string>185107403252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dvasylenko.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-f70d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-f70d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185107403252:ios:d4aa112c976ace3e55a9a1</string>
</dict>
</plist>